/* Footer */

.container-footer{
    position: relative;
    display: flex;
    justify-content: center;
}

.footer-base{
    width: 100vw;
    height: 85px;
    left: 0px;
    bottom: 0px;
    background: #24537F;
    z-index: 10;
}


/* Icones Redes Sociais */

.social-medias{
    margin-top: 8px;
    display: inline-block;
    
}

.facebook-icon img{
    transform: translateY(2px) translateX(-8px) scale(.95);
}

.instagram-icon img{
    transform: translateY(0px);
}

.twitter-icon img{
    transform: translateY(2px) translateX(8px) scale(.95);
}


/* Copyright */

.copyright-div{
    position: absolute;
    bottom: 8px;
}

.copyright{
    color: white;
    font-family: "Arial";
    font-weight: bold;
    font-size: 10px;
    font-family: "Arial";
    width: 100%;
}