/* Menu */

.logo-vc-tech{
    margin-top: 15px;
}

@media(min-aspect-ratio: 800/1000){
    .logo-vc-tech{
        margin-top: 10;
    }
}

@media (min-aspect-ratio: 800/1000){
    .logo-buscador-div{
        width: 90vw;
        text-align: start;
    }
}

@media (min-aspect-ratio:1000/1000){
    .logo-buscador-div{
        width: 80vw;
        text-align: start;
    }
}

@media (min-aspect-ratio: 1200/1000){
    .logo-buscador-div{
        width: 70vw;
        text-align: start;
    }
}

@media (min-aspect-ratio: 1400/1000){
    .logo-buscador-div{
        width: 60vw;
        text-align: start;
    }
}

@media (min-aspect-ratio: 1600/1000){
    .logo-buscador-div{
        width: 50vw;
        text-align: start;
    }
}

.container-header{
    position: relative;
    display: flex;
    justify-content: center;
}

.menu-base{
    position: fixed;
    width: 100vw;
    height: 77px;
    left: 0px;
    top: 0px;
    background: #3F82C4;
    z-index: 10;
}


/* Menu Hamburguer */

.menu-hamburguer{
    position: fixed;
    left: -50vw;
    top: 0;
}

@media (min-aspect-ratio: 800/1000){
    .menu-hamburguer{
        display: none;
    }
}

#check{
    display: none;
}

#icone{
    cursor: pointer;
    padding: 15px;
    position: absolute;
    top: 10px;
    left: 51.5vw;
    z-index: 1;
}

.barra{
    background: #3F82C4;
    height: 100vh;
    width: 50vw;
    transition: all .3s linear;
}

.nav-links{
    margin-top: 77px;
}

.nav-links a{
    text-decoration: none;
}

.link{
    padding: 25px;
    padding-left: 100px;
    font-size: 16px;
    transition: all .3s linear;
    color: white;
    font-family: "Roboto";
}

@media (max-aspect-ratio: 400/1000){
    .link{
        font-size: 14px;
        padding: 26px;
        padding-left: 90px;
    }
}

.link-img{
    position: absolute;
    left: 40px;
}

.img-1{
    top: 10px;
}

.img-2{
    top: 75px; 
}

.img-3{
    top: 147px; 
}

.img-4{
    top: 213px; 
}

.img-5{
    top: 279px; 
}

#check:checked ~ .barra{
    transform: translateX(50vw);
};


/* Menu Desktop */

.desk-nav-links a{
    text-decoration: none;
    color: black;
}

.desk-link{
    width: 100px;
    padding-top: 50px;
    font-size: 12px;
    transition: all .3s linear;
    font-family: "Roboto";
    color: white;
    position: absolute;
    top: 0;
}

.desk-link-1{
    right: 380px;
}

.desk-link-2{
    right: 320px;
}

.desk-link-3{
    right: 230px;
}

.desk-link-4{
    right: 170px;
}

.desk-link-5{
    right: 120px;
}

.desk-link-img{
    position: absolute;
    width: 35px;
    margin-top: 10px;
    top: 0;
}

.desk-img-1{
    right: 445px;
}

.desk-img-2{
    right: 370px;
}

.desk-img-3{
    right: 297px;
}

.desk-img-4{
    right: 240px;
}

.desk-img-5{
    right: 180px;
}

@media(min-aspect-ratio: 1000/1000){
    .desk-link, .desk-link-img{
        margin-right: 100px;
    }
}

@media(min-aspect-ratio: 1200/1000){
    .desk-link, .desk-link-img{
        margin-right: 200px
    }
}

@media(min-aspect-ratio: 1400/1000){
    .desk-link, .desk-link-img{
        margin-right: 300px
    }
}

@media(min-aspect-ratio: 1600/1000){
    .desk-link, .desk-link-img{
        margin-right: 400px
    }
}

@media(max-aspect-ratio: 799/1000){
    .desk-nav-links{
        display: none;
    }
}