/* Newsletter */

/* Mobile */

.news{
    background-color: #74D5DE;
    width: 100vw;
    height: 400px;
    margin-bottom: 85px;
    position: relative;
    text-align: center;
}

.titulo-news{
    width: 100%;
    margin: auto;
    position: relative;
    z-index: 5;
}

.titulo-news h2{
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: white;
    width: 12em;
    padding-top: 1em;
    text-align: start;
    margin: auto;
    margin-bottom: .5em;
}

.news img{
    width: 130px;
}

.news form{
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #3F82C4;
}

.news form label{
    width: 15%;
    background-color: white;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
}

@media (max-aspect-ratio: 500/1000){
    .news form label{
        font-size: 12px
    }
}

@media (max-aspect-ratio: 350/1000){
    .news form label{
        font-size: 10px
    }
}

@media (min-aspect-ratio: 650/1000){
    .news form label{
         width: 12%;
    }
}

.news form input{
    width: 75%;
    height: 36px;
    border: none;
    border-radius: 2px;
}

@media (min-aspect-ratio: 500/1000){
    .news form input{
        width: 55%;
    }
}

@media (min-aspect-ratio: 650/1000){
    .news form input{
        width: 40%;
    }
}

.news form button{
    background-color: #FF8A00;
    color: white;
    margin: .6em;
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
    border: none;
    border-radius: 5px;
}


/* Desktop */

@media (min-aspect-ratio: 799/1000){
    .news{
        height: 220px;
        margin-bottom: 85px;
        position: relative;
    }
}

@media (min-aspect-ratio: 799/1000){
    .news img{
        position: absolute;
        width: 9em;
        top: 30px;
        left: 60px
    }
}

@media (min-aspect-ratio: 1000/1000){
    .news img{
        left: 110px
    }
}

@media (min-aspect-ratio: 1200/1000){
    .news img{
        left: 190px
    }
}

@media (min-aspect-ratio: 1400/1000){
    .news img{
        left: 300px
    }
}

@media (min-aspect-ratio: 1600/1000){
    .news img{
        left: 420px
    }
}

@media (min-aspect-ratio: 1800/1000){
    .news img{
        left: 292px;
    }
}

@media(min-aspect-ratio: 800/1000){
    .titulo-news h2{
        width: 25em;
        padding-top: 1em;
    }
}

@media(min-aspect-ratio: 1000/1000){
    .titulo-news h2{
        width: 25em;
        padding-top: 1em;
        font-size: 22px;
    }
}

@media (min-aspect-ratio: 900/1000){
    .news form input{
        width: 400px;
    }
}

@media (min-aspect-ratio: 900/1000){
    .news form label{
        width: 80px;
    }
}