/* Post */

/* Conteudo principal */

.conteudo-principal-bloco{
    margin-top: 110px;
    font-family: "Roboto";
    color: #3F82C4;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 14px;
    text-align: center;
}

.conteudo-principal-bloco h1{
    margin-bottom: 1em;
}

.quiz{
   padding-bottom: 7em;
}

@media (min-aspect-ratio: 450/1000){
    .quiz{
        padding-bottom: 5em;
    }
}

@media (min-aspect-ratio: 750/1000){
    .quiz{
        padding-bottom: 0em;
    }
}